Flask==1.0.2
gunicorn==19.9.0
imutils==0.5.1
Jinja2==2.10
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
matplotlib==2.2.3
numpy==1.15.2
psycopg2==2.7.5
scikit-image==0.14.0
scikit-learn==0.20.0
SQLAlchemy==1.2.12
tensorflow==1.11.0
opencv-python==3.4.3.18